@import "tailwindcss";
@import './styles/colors.css';
@import './styles/fonts.css';

 .mysteryFont {
  font-family: var(--Mystery-Quest);
}
.sourGummyFont {
  font-family: var(--Sour-Gummy);
}
.robotoFont {
  font-family: var(--Roboto);
}

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.animated-letter {
  display: inline-block;
  animation: floatUpDown 2s ease-in-out infinite;
}
